.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #F8F8F8;
    height: 400px;
}

.links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.links li{
list-style-type: none;
padding: 10px 14px 10px 14px;
}

.social-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.social-icons img{
    width: 25px;
}

.footer-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #545454;
    width: 100%;
    color: white;   
}

.footer-text span{
    color: #FD6F00;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 20px 10px; /* Adjusted padding */
    }

    .links ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .social-icons ul {
        gap: 15px;
    }

    .footer-text {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .footer {
        padding: 20px 5px; /* Further adjusted padding */
    }

    .links ul {
        display: none;
    }

    .social-icons ul {
        margin-top: 25px;
        gap: 10px;
    }

    .footer-text {
        margin-top: 20px;
        padding: 8px;
        text-align: center;
    }

    .footer-text span {
        display: block; /* Moves span to the next line */
    }
}