* {
    font-family: 'Poppins';
    font-weight: 400;
}

.navbar {
    margin: 30px 250px 0px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Menu styles */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
}

.menu li {
    list-style-type: none;
}

.menu li:hover {
    cursor: pointer;
}

.menu a {
    margin-left: 26px;
}

button {
    margin-left: 24px;
    padding: 12px;
    background: #FD6F00;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background: #ff9240;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .navbar {
        margin: 20px 50px 0px 50px;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        max-height: 0;
        overflow: hidden;
    }

    .menu.open {
        max-height: 500px; /* Adjust this value based on the height of your menu items */
    }

    .menu li {
        margin-bottom: 10px;
    }

    button {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .navbar {
        margin: 10px 20px 0px 20px;
    }

    .logo img {
        width: 100px; /* Adjust logo size for mobile */
    }

    .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu a {
        margin-left: 0;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    button {
        padding: 10px;
    }

    .hamburger {
        display: flex;
    }
}
