.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.project-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-text h1{
    font-weight: 600;
    font-size: 50px;
}

.project-images img{
    height: 400px;
    width: 250px;
}

.project-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.project-btn{
    background: #F8F8F8;
    color: black;
}

.active{
    background: #FD6F00;
    color: white;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .project-text h1 {
        font-size: 40px;
    }

    .project-text p {
        font-size: 18px;
    }

    .project-images {
        flex-direction: column;
        gap: 20px;
    }

    .project-images img {
        height: 300px;
        width: 200px;
    }

    .project-btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .project-text h1 {
        font-size: 40px;
        margin-top: 400px;
    }

    .project-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-text p {
        font-size: 16px;
    }

    .project-images {
        flex-direction: column;
        gap: 15px;
    }

    .project-images img {
        height: 250px;
        width: 150px;
    }

    .project-btn {
        padding: 6px 12px;
        font-size: 14px;
    }
}