.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h1{
    font-weight: 600;
    font-size: 50px;
}

.text p{
    font-weight: 400;
    font-size: 21px;
}

.cards-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 250px 0px 250px;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 330;
    background: #F8F8F8;
    padding: 0px 15px 0px 15px;
}

.card h1{
    font-weight: 600;
    font-size: 25px;
}

.card-icons{
    width: 80px;
}


.card-imag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

/* Responsive styles for tablets */
@media (max-width: 768px) {
    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 18px;
    }

    .cards-box {
        flex-direction: column;
        margin: 20px 50px 0px 50px;
        gap: 30px;
    }

    .card {
        width: 100%; /* Allow the cards to take full width */
        height: auto;
        padding: 20px;
    }

    .card-icons {
        width: 70px;
    }

    .card h1 {
        font-size: 22px;
    }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
    .text h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    .text p {
        font-size: 16px;
    }

    .cards-box {
        flex-direction: column;
        margin: 20px 20px 0px 20px;
        gap: 20px;
    }

    .card {
        width: 100%; /* Allow the cards to take full width */
        padding: 15px;
    }

    .card-icons {
        width: 60px;
    }

    .card h1 {
        font-size: 20px;
    }
}